<!DOCTYPE html>
<html>
  <head>
    <title>Trump said it?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trump said it?</h1>
    <p>Welcome to our flashcard app!</p>
  </body>
</html>
