body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.quote_card {
  margin-bottom: 30px
}
.icon {
  padding: 20px;
  float: right;
}
.icon-close{
  color: red;
  margin-top: 200px;
  margin-right: 20px;
}
p.quote-reveal {
  font-size: 24px;
  padding: 5px;
}

table {
  text-align: left;
}
.icon-td {
  float: left;
}
td i {
  cursor: pointer;
}
.quote {
}
.quiz-img {
  height: 200px;
  background-size: 100% 200px;
}

#header {
  margin-bottom: 20px;
}

.pageButton {


}

.Trump {
  background-image: url('http://i.imgur.com/IPjxZ4y.jpg?1');
  background-size: 100%;
  background-repeat: no-repeat;
}
.Hitler {
  background-image: url('http://i.imgur.com/vktEqdy.jpg?1');
  background-size: 100%;
  background-repeat: no-repeat;
}



/**/
