<div class="container center-align" id="header">
  <h1>Did Trump say that?</h1>
  <h4>... or someone else?</h4>
  <button class="btn" ng-click="cardView()">All or One</button>
</div>

<!-- View all cards at one time -->
<div class='container' ng-hide="viewAll">
  <input ng-model='searchText' class='center-align' placeholder='Search Quotes'>
  <div class='row'>
    <div class="quote_card card col s12 m6 l4" ng-repeat='quote in quotes | filter : searchText'>
      <div class="quiz-img card-image waves-effect waves-block waves-light">
        <h5 class='quote'>{{quote.quote}}</h5>

      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Who said it?<i class=" icon fa fa-arrow-circle-up"></i></span>
      </div>
      <div class="card-reveal {{quote.person}}">
        <span class="card-title grey-text text-darken-4">
          <i class="icon icon-close fa fa-arrow-circle-down"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- View only one card at a time -->
<div ng-show="viewAll">
  <div class="container center-align">
    <div class='row'>
      <div class="quote_card card col l6 offset-l3 s12 m6 offset-m3">
        <div class="quiz-img card-image waves-effect waves-block waves-light">
          <h5 class='quote'>{{quotes[index].quote}}</h5>

        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Who said it?<i class=" icon fa fa-arrow-circle-up"></i></span>
        </div>
        <div class="card-reveal {{quotes[index].person}}">
          <span class="card-title grey-text text-darken-4">
            <i class="icon icon-close fa fa-arrow-circle-down"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l6 offset-l3 s12 m6 offset-m3 center-align">
        <button ng-click="prev()" class="btn pageButton light-blue darken-4"><i class="fa fa-long-arrow-left"></i></button>
        <button ng-click="next()" class="btn pageButton light-blue darken-4"><i class="fa fa-long-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>










<!--  -->
