<h1 class='center-align'>Who said it?</h1>
<h4 class='center-align'>Trump or Hitler</h4>

<div class='container'>
  <div class='row'>
    <div class="quote_card card col s3" ng-repeat='quote in quotes'>
      <div class="card-image waves-effect waves-block waves-light">
        <h4>{{quote.quote}}</h4>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Who said it?<i class=" icon fa fa-ellipsis-v"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="icon icon-close fa fa-times-circle"></i></span>
        <p class='quote-reveal'>{{quote.quote}}</p>
        <h4>-{{quote.person}}</h4>
      </div>
    </div>
  </div>
</div>
